<!--
<div class="container-fluid">
<div class="row">
<nav>
    <ul class="list">
      <li><a routerLink="/">universe</a></li>
      <li><a routerLink="/">missions</a></li>
      <li><a routerLink="/">satelites</a></li>
    </ul>
</nav>
</div>
</div>
-->



<!-- Footer -->
<header class="text-center text-white">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    
    <section class="mb">
      <div class="row">
      <!-- home -->
      <div class="col u">
        <a routerLink="/">home</a>
    </div>
      <!-- universe -->
      <div class="col u">
        <a routerLink="/universe">universe</a>
    </div>
      <!-- missions-->
      <div class="col d">
        <a routerLink="/">missions</a>
      </div>
      <!-- satelites-->
      <div class="col t">
        <a routerLink="/">satelites</a>
    </div>
      
  </div>
    </section>
  
    <!-- Section: Social media -->
  </div>
  <!-- Copyright -->
  <!-- Copyright -->
</header>
<!-- Footer -->