<!--
<div class="container-fluid">
<nav>
    <ul class="list">
      <li><a routerLink="child-b">github</a></li>
      <li><a routerLink="child-b">twitter</a></li>
      <li><a routerLink="child-b">instagram</a></li>
    </ul>
</nav>
</div>
-->




<!-- Footer -->
<footer class="text-center text-white">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    
    <section class="mb">
      <div class="row">
      <!-- Facebook -->
      <i class="fab fa-facebook"></i>

      <!-- Twitter -->
      <div class="col u">
      <a href="https://www.facebook.com/" >Facebook</a>
    </div>
      <!-- Google -->
      <div class="col d">
      <a href="https://twitter.com/twitter" role="button">Twitter</a>
    </div>
      <!-- Instagram -->
      <div class="col t">
      <a  href="https://github.com/Mejri-Nada/Octopus/tree/master" role="button">Github</a>
    </div>
      <!-- Linkedin -->
      <div class="col q">
      <a  href="https://www.linkedin.com/" role="button">Linkedin</a>
    </div>
  </div>
    </section>
  
    <!-- Section: Social media -->
  </div>
  <!-- Copyright -->
  <!-- Copyright -->
</footer>
<!-- Footer -->