
<div class="container-fluid">
<div class="row r1">
    <div class="flip-card2" tabIndex="0">
        <div class="flip-card2-inner">
          <div class="flip-card2-front">
            <h3>Perseverance and the<br>
                mars 2020 mission</h3>
          </div>
        </div>
      </div>    
</div>  

<div class="row r2">
    <div class="flip-card22" tabIndex="0">
        <div class="flip-card22-inner">
          <div class="flip-card22-front">
            <h3>Perseverance and the<br>
                mars 2020 mission</h3>
          </div>
        </div>
      </div>   
</div>

<div class="row r3">
    <div class="flip-card2" tabIndex="0">
        <div class="flip-card2-inner">
          <div class="flip-card2-front">
            <h3>Perseverance and the<br>
                mars 2020 mission</h3>
          </div>
        </div>
      </div>   
</div>


</div>




